# PREDIÇÃO MORTALIDADE INFANTIL

In [5]:

import sys
import os
import pandas as pd
import numpy as np
import sys
sys.path
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline

import plotly.offline as py
import plotly.graph_objs as go
import plotly.tools as tls
py.init_notebook_mode(connected=True)

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Always good to set a seed for reproducibility
SEED = 7
np.random.seed(SEED)

## 1 - Obter Dados - ANO 2016

In [6]:
# Loading Data SINASC AND SIM 2016
df_sinasc_es_2016_raw = pd.read_csv ('https://docs.google.com/spreadsheets/d/e/2PACX-1vSkaN1Ye-7puUZMT3J_yuJisowxrmsU3BAsvyfI3ZxD_mKPJ_4fjfnUS9_JH83fAocKWjyRquGMJxde/pub?output=csv')
df_sim_es_2016_raw = pd.read_csv ('https://docs.google.com/spreadsheets/d/e/2PACX-1vR_MH3HjwGWD0icAnZ3LVxxKUIxYNgAE3R-m-P61g0T2iXE9bs3hjeItGKTJqIUslIOAFN7TrE2ghGM/pub?output=csv')
# Getting dataframe columns names
df_sinasc_es_2016_name=df_sinasc_es_2016_raw.columns
df_sim_es_2016_name=df_sim_es_2016_raw.columns

## 2 - Análise dos Dados

### 2.1 - Estatística Descritiva

In [4]:
df_sinasc_es_2016_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53413 entries, 0 to 53412
Data columns (total 65 columns):
Unnamed: 0    53413 non-null int64
NUMERODN      53413 non-null int64
CODINST       53413 non-null object
ORIGEM        53413 non-null int64
NUMERODV      53413 non-null int64
PREFIXODN     53413 non-null int64
CODESTAB      53256 non-null float64
CODMUNNASC    53413 non-null int64
LOCNASC       53413 non-null int64
IDADEMAE      53413 non-null int64
ESTCIVMAE     53161 non-null float64
ESCMAE        53372 non-null float64
CODOCUPMAE    0 non-null float64
QTDFILVIVO    53279 non-null float64
QTDFILMORT    53189 non-null float64
CODMUNRES     53413 non-null int64
GESTACAO      53298 non-null float64
GRAVIDEZ      53381 non-null float64
PARTO         53393 non-null float64
CONSULTAS     53413 non-null int64
DTNASC        53413 non-null int64
HORANASC      53371 non-null float64
SEXO          53413 non-null int64
APGAR1        52989 non-null float64
APGAR5        53004 non-null float64
RACACOR       52616 non-null float64
PESO          53413 non-null int64
IDANOMAL      53335 non-null float64
DTCADASTRO    53413 non-null int64
CODANOMAL     483 non-null object
NUMEROLOTE    53413 non-null int64
VERSAOSIST    53413 non-null object
DTRECEBIM     53413 non-null int64
DIFDATA       53413 non-null int64
DTRECORIGA    53413 non-null int64
NATURALMAE    52692 non-null float64
CODMUNNATU    52692 non-null float64
CODUFNATU     52692 non-null float64
ESCMAE2010    53370 non-null float64
SERIESCMAE    35217 non-null float64
DTNASCMAE     53384 non-null float64
RACACORMAE    52615 non-null float64
QTDGESTANT    52661 non-null float64
QTDPARTNOR    52662 non-null float64
QTDPARTCES    52660 non-null float64
IDADEPAI      29878 non-null float64
DTULTMENST    20261 non-null float64
SEMAGESTAC    53298 non-null float64
TPMETESTIM    53298 non-null float64
CONSPRENAT    53237 non-null float64
MESPRENAT     52327 non-null float64
TPAPRESENT    52651 non-null float64
STTRABPART    52637 non-null float64
STCESPARTO    52839 non-null float64
TPNASCASSI    53385 non-null float64
TPFUNCRESP    49670 non-null float64
TPDOCRESP     53412 non-null float64
DTDECLARAC    49588 non-null float64
ESCMAEAGR1    53370 non-null float64
STDNEPIDEM    53413 non-null int64
STDNNOVA      53413 non-null int64
CODPAISRES    53413 non-null int64
TPROBSON      53413 non-null int64
PARIDADE      53413 non-null int64
KOTELCHUCK    53413 non-null int64
dtypes: float64(38), int64(24), object(3)
memory usage: 26.5+ MB

-Existem features do tipo object, int e float
-Não há valores nulos

In [11]:
df_sinasc_es_2016_raw.head()

,Unnamed: 0,NUMERODN,CODINST,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,69142346,MBA2910720001,1,8,30,2507447.0,291072,1,16,...,2.0,3.0,26022016.0,3.0,0,1,1,11,0,9
1,2,69204731,MBA2913600002,1,1,30,2802112.0,291360,1,18,...,2.0,3.0,29042016.0,4.0,0,1,1,1,0,2
2,3,69091312,MBA2922000001,1,7,30,2506122.0,292200,1,21,...,2.0,3.0,26012016.0,12.0,0,1,1,7,1,9
3,4,69161083,MBA2922000001,1,7,30,2506122.0,292200,1,20,...,2.0,3.0,18032016.0,12.0,0,1,1,4,1,5
4,5,69161493,MBA2922000001,1,0,30,2498804.0,292200,1,17,...,2.0,4.0,16032016.0,3.0,0,1,1,1,0,2

In [14]:
df_sinasc_es_2016_raw.describe()

,Unnamed: 0,NUMERODN,ORIGEM,NUMERODV,PREFIXODN,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
count,53413.000000,5.341300e+04,53413.0,53413.000000,53413.0,5.325600e+04,53413.000000,53413.000000,53413.000000,53161.000000,...,49670.000000,53412.000000,4.958800e+04,53370.000000,53413.0,53413.0,53413.0,53413.000000,53413.000000,53413.000000
mean,26707.000000,7.017404e+07,1.0,4.089585,30.0,3.362035e+06,320300.966488,1.012151,26.757119,2.212073,...,3.946749,3.389538,1.573163e+07,6.212498,0.0,1.0,1.0,3.925018,0.597008,4.354464
std,15419.149301,1.613396e+06,0.0,3.030791,0.0,2.153294e+06,1971.363430,0.149334,6.644023,1.491102,...,1.462244,1.352963,8.798010e+06,2.855443,0.0,0.0,0.0,2.662127,0.490504,1.412027
min,1.000000,5.498281e+07,1.0,0.000000,30.0,1.250000e+02,130060.000000,1.000000,12.000000,1.000000,...,1.000000,0.000000,1.012016e+06,0.000000,0.0,1.0,1.0,1.000000,0.000000,1.000000
25%,13354.000000,6.882397e+07,1.0,1.000000,30.0,2.448637e+06,320150.000000,1.000000,21.000000,1.000000,...,2.000000,3.000000,8.062016e+06,4.000000,0.0,1.0,1.0,2.000000,0.000000,4.000000
50%,26707.000000,7.108250e+07,1.0,4.000000,30.0,2.547090e+06,320460.000000,1.000000,27.000000,2.000000,...,5.000000,4.000000,1.602202e+07,6.000000,0.0,1.0,1.0,3.000000,1.000000,5.000000
75%,40060.000000,7.109900e+07,1.0,7.000000,30.0,4.044916e+06,320520.000000,1.000000,32.000000,2.000000,...,5.000000,4.000000,2.309202e+07,8.000000,0.0,1.0,1.0,5.000000,1.000000,5.000000
max,53413.000000,7.509214e+07,1.0,9.000000,30.0,9.040838e+06,530010.000000,4.000000,52.000000,9.000000,...,5.000000,5.000000,3.112202e+07,12.000000,0.0,1.0,1.0,11.000000,1.000000,9.000000

In [5]:
df_sim_es_2016_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22868 entries, 0 to 22867
Data columns (total 93 columns):
Unnamed: 0    22868 non-null int64
NUMERODO      22868 non-null int64
CODINST       22868 non-null object
NUMERODV      22868 non-null int64
ORIGEM        22868 non-null int64
TIPOBITO      22868 non-null int64
DTOBITO       22868 non-null int64
HORAOBITO     20713 non-null float64
NUMSUS        1088 non-null float64
NATURAL       19163 non-null float64
CODMUNNATU    18743 non-null float64
DTNASC        22824 non-null float64
IDADE         22868 non-null int64
SEXO          22868 non-null int64
RACACOR       20026 non-null float64
ESTCIV        21062 non-null float64
ESC           19148 non-null float64
ESC2010       19140 non-null float64
SERIESCFAL    2933 non-null float64
OCUP          17920 non-null float64
CODMUNRES     22868 non-null int64
LOCOCOR       22868 non-null int64
CODESTAB      17191 non-null float64
ESTABDESCR    0 non-null float64
CODMUNOCOR    22868 non-null int64
IDADEMAE      563 non-null float64
ESCMAE        553 non-null float64
ESCMAE2010    553 non-null float64
SERIESCMAE    217 non-null float64
OCUPMAE       491 non-null float64
QTDFILVIVO    550 non-null float64
QTDFILMORT    486 non-null float64
GRAVIDEZ      589 non-null float64
SEMAGESTAC    562 non-null float64
GESTACAO      562 non-null float64
PARTO         587 non-null float64
OBITOPARTO    592 non-null float64
PESO          561 non-null float64
NUMERODN      332 non-null float64
TPMORTEOCO    2110 non-null float64
OBITOGRAV     2110 non-null float64
OBITOPUERP    2110 non-null float64
ASSISTMED     21358 non-null float64
EXAME         6 non-null float64
CIRURGIA      6 non-null float64
NECROPSIA     21487 non-null float64
LINHAA        22187 non-null object
LINHAB        18948 non-null object
LINHAC        13613 non-null object
LINHAD        5936 non-null object
LINHAII       8314 non-null object
CAUSABAS      22868 non-null object
CB_PRE        0 non-null float64
CRM           22634 non-null float64
COMUNSVOIM    6494 non-null float64
DTATESTADO    22855 non-null float64
CIRCOBITO     3433 non-null float64
ACIDTRAB      1596 non-null float64
FONTE         3227 non-null float64
NUMEROLOTE    22868 non-null int64
TPPOS         22769 non-null object
DTINVESTIG    2699 non-null float64
CAUSABAS_O    22862 non-null object
DTCADASTRO    22866 non-null float64
ATESTANTE     22726 non-null float64
STCODIFICA    22862 non-null object
CODIFICADO    22868 non-null object
VERSAOSIST    22868 non-null object
VERSAOSCB     22862 non-null float64
FONTEINV      2850 non-null float64
DTRECEBIM     22868 non-null int64
ATESTADO      22868 non-null object
DTRECORIGA    22868 non-null int64
CAUSAMAT      0 non-null float64
ESCMAEAGR1    553 non-null float64
ESCFALAGR1    19140 non-null float64
STDOEPIDEM    22868 non-null int64
STDONOVA      22868 non-null int64
DIFDATA       22868 non-null int64
NUDIASOBCO    1163 non-null float64
NUDIASOBIN    0 non-null float64
DTCADINV      1176 non-null float64
TPOBITOCOR    1176 non-null float64
DTCONINV      1160 non-null float64
FONTES        642 non-null object
TPRESGINFO    35 non-null float64
TPNIVELINV    1179 non-null object
NUDIASINF     0 non-null float64
DTCADINF      642 non-null float64
MORTEPARTO    642 non-null float64
DTCONCASO     0 non-null float64
FONTESINF     0 non-null float64
ALTCAUSA      574 non-null float64
dtypes: float64(61), int64(17), object(15)
memory usage: 16.2+ MB

-Existem features do tipo object, int e float
-Não há valores nulos

In [12]:
df_sim_es_2016_raw.head()

,Unnamed: 0,NUMERODO,CODINST,NUMERODV,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NUMSUS,NATURAL,...,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
0,1,22196183,MES3205000001,6,1,2,1012016,1450.0,7.068018e+14,832.0,...,NaN,SXSSXX,NaN,NaN,NaN,14032016.0,3.0,NaN,NaN,1.0
1,2,22196181,MES3205000001,0,1,2,1012016,845.0,NaN,831.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,22196182,MES3205000001,8,1,2,1012016,1006.0,NaN,831.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,22201559,MES3205000001,4,1,2,1012016,NaN,NaN,832.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,22196184,MES3205000001,4,1,2,1012016,1200.0,7.028057e+14,832.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_sim_es_2016_raw.describe()

,Unnamed: 0,NUMERODO,NUMERODV,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NUMSUS,NATURAL,CODMUNNATU,...,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
count,22868.000000,2.286800e+04,22868.000000,22868.0,22868.0,2.286800e+04,20713.00000,1.088000e+03,19163.000000,18743.000000,...,1.176000e+03,1176.000000,1.160000e+03,35.000000,0.0,6.420000e+02,642.000000,0.0,0.0,574.000000
mean,11434.500000,2.304919e+07,4.105344,1.0,2.0,1.576874e+07,1191.05890,6.636752e+14,829.306372,317641.379342,...,1.628081e+07,8.774660,1.596665e+07,1.457143,NaN,1.648294e+07,3.666667,NaN,NaN,1.797909
std,6601.567314,9.360149e+05,3.031238,0.0,0.0,8.833792e+06,673.87026,2.354536e+14,36.462966,17495.414499,...,8.412031e+06,0.804924,8.779305e+06,0.700540,NaN,8.260433e+06,1.900270,NaN,NaN,0.401910
min,1.000000,1.528605e+07,0.000000,1.0,2.0,1.012016e+06,0.00000,5.220000e+02,8.000000,110001.000000,...,1.022017e+06,1.000000,1.022017e+06,1.000000,NaN,1.022017e+06,1.000000,NaN,NaN,1.000000
25%,5717.750000,2.220426e+07,1.000000,1.0,2.0,8.082016e+06,620.00000,7.005055e+14,832.000000,320010.000000,...,9.787017e+06,9.000000,8.092016e+06,1.000000,NaN,1.008702e+07,3.000000,NaN,NaN,2.000000
50%,11434.500000,2.316692e+07,4.000000,1.0,2.0,1.602202e+07,1157.00000,7.046027e+14,832.000000,320170.000000,...,1.606202e+07,9.000000,1.601202e+07,1.000000,NaN,1.703202e+07,3.000000,NaN,NaN,2.000000
75%,17151.250000,2.373608e+07,7.000000,1.0,2.0,2.311202e+07,1757.00000,7.089020e+14,832.000000,320450.000000,...,2.234452e+07,9.000000,2.305202e+07,2.000000,NaN,2.303202e+07,3.000000,NaN,NaN,2.000000
max,22868.000000,2.493748e+07,9.000000,1.0,2.0,3.112202e+07,2359.00000,9.890023e+14,999.000000,530010.000000,...,3.110202e+07,9.000000,3.110202e+07,3.000000,NaN,3.110202e+07,9.000000,NaN,NaN,2.000000